{% extends 'base.html' %}
{% block page_content %}
    <div class="col-md-12 text-center">
        <h1 class="text-center">{{ course_detail.title }}</h1>

        <img class="rounded mx-auto d-block"
             src="{{ course_detail.picture.url }}" alt="Image">
        <br>

        <h5>Description:</h5>
        <p>{{ course_detail.description }}</p>

        <div class="d-flex justify-content-center">
            <video width="640" height="480" controls>
            <source src="{{ course_detail.video.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

    <br>

    <h5>Documentation:</h5>
    <h5><a href="{{ course_detail.document.url }}" target="_blank">Open</a></h5>


    <a href="{% url 'list tests' course_detail.pk %}">
        <button class="btn btn-primary mt-2">Start Test</button>
    </a>

    <br>
    </div>
{% endblock %}